*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
  
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
.logo h2{
  font-size: 45px;
  font-weight: 900;
}

}
 .foot{
  color: #FD6E0A;
 }

header{
background-color: #FFF8F3;
  background-image: url(../images/developer.png),url(../images/header_bg.png);
  background-position:23px 38px,bottom right;
  background-repeat: no-repeat;
  padding: 50px;
}
.menu{
display: flex;
list-style: none;
gap: 51px;
align-items: center;
}
nav{
  width: 71%;
  max-width: 1140px;
  border: 1px solid #FFF8F3;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
  
}
.btn{
  background-color:#FD6E0A;
  width: 150px;
   height: 65px;
  border: none;
  border-radius: 5px;
  font-size:15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  
}

.section-heading{
  max-width:827px;
  text-align: center;
  margin:0 auto;
}
.section-heading h2{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
benar{
 /*border: 1px solid;*/
  margin: 47px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:-55px;
}
.benar-conten{
  max-width: 585px;
}
.benar-conten h2{font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;

}
.benar-conten h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.benar-conten p{
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
.benar-image{
max-width:585px;
vertical-align: middle;


}
#about{
  padding-top:130px;

}
.about-conten{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px;

}
.about-info{
  display: flex;
  justify-content: space-around;
}
.about-info .about card{
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
#skills{ 
  padding-top: 130px;
}
#resume{
padding-top: 130px;
}

.skills-conten{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
.resume-conten{
  width: 71%;
  max-width: 1140px;
  margin:113px auto 0;
  display: flex;
  gap: 24px;
  
} 
.skills-box{
  display: flex;
  gap: 24px;
}
.skills-card{
  box-shadow: 0 6px 50px 0 #e4e4e7;
  padding: 30px;
  width: 267px;
  height: 377px;
  border-radius:10px;
  
  
}
.skills-card img{
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}
.skills-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom:20px ;
}
.skills-card p{
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}
.section-title{
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
}
.resume-card{
  max-width: 511px;
  margin-right: 47px;
}
.card-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}
.card-info{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #474747;
}
.card-text{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
.resume-conten hr{
  margin: 30px 0;
}
.su{
  text-align: center;
}
footer{
  margin-top: 130px;
  background-color: #FFF8F3;
  padding: 130px 0;
}
.footer-conten{
  display:flex;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  gap: 116px;
}
.footer-conten h2{
  font-size: 35px;
  color: #181818;
  margin-bottom: 20px;
}
.social{
  max-width: 562px;
}
.social p{
  font-size: 16px;
  line-height: 28px;
  color: #474747;
margin-bottom: 30px;
}
.icons a{
max-width: 120px;
color: #FD6E0A;
margin-right: 24px;
}

form input[type=text]{
  width: 461px;
  padding:18px 31px;
  margin-bottom:24px;
  color: #757575;
  border-radius: 5px;
}
textarea.text-mar{
  width: 461px;
  padding: 18px 365px 134px 30px;
  font-size: 16px;
  margin-bottom: 24px;
  border-radius: 5px;
  color: #757575;
}
