*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
  
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
.logo h2{
  font-size: 45px;
  font-weight: 900;
}

}
 .foot{
  color: #FD6E0A;
 }

header{
background-color: #FFF8F3;
  background-image: url(../images/developer.png),url(../images/header_bg.png);
  background-position:23px 38px,bottom right;
  background-repeat: no-repeat;
  padding: 50px;
}
.menu{
display: flex;
list-style: none;
gap: 51px;
align-items: center;
}
nav{
  width: 71%;
  max-width: 1140px;
  border: 1px solid #FFF8F3;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a{
  font-size: 20px;
  color: #474747;
  text-decoration: none;
  
}
.btn{
  background-color:#FD6E0A;
  width: 150px;
   height: 65px;
  border: none;
  border-radius: 5px;
  font-size:15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  
}

.section-heading{
  max-width:827px;
  text-align: center;
  margin:0 auto;
}
.section-heading h2{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}